@import "Fonts.css";

.pfx-alert-card-container {
    -fx-alignment: TOP_LEFT;
    -fx-padding: 20 20;
    -fx-background-color: -pfx-background;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.40), 20, 0, 0.0, 0.0);
    -fx-spacing: 20;
    -fx-background-radius: 12;
}

.pfx-alert-card-description {
    -fx-alignment: TOP_LEFT;
    -fx-background-color: transparent;
    -fx-spacing: 20;
    -fx-font-size: 20;
}


.pfx-alert-card-container Label {
    -fx-font-family: "Nunito Sans Light";
    -fx-background-color: transparent;
    -fx-text-fill: -pfx-navy;
}

.pfx-alert-card-container PFXButton {
    -fx-font-family: "Nunito Sans Light";
    -fx-background-color: green;
    -fx-background-radius: 6;
    -fx-font-size: 16;
    -fx-text-fill: -pfx-black;
}

.pfx-alert-card-container:selected {
    -fx-border-color: -pfx-accent;
}

.pfx-alert-card-container:selected Label {
    -fx-text-fill: -pfx-accent;
}

.pfx-alert-card-container:hover {

}